

body {
    background-color: 768591;}

/* style code for headers*/ 
.header{
		border:5px solid black;
		background-color: #303888;
		text-align: center;
		padding:15px;
		text-decoration: double;
}


ul {
		border:5px solid black;
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #303888;
	}


li {
    float: left;
	}

	
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}

	
/* Hovering color code*/ 
li a:hover {
    background-color: #1E2154;
	}
	
/* footer style code*/ 
.footer{
	border:5px solid black;
   bottom: 10px;
   height: 50px;
   width: 98%;
   background-color: #303888;
   color: white;
   text-decoration: bold;
   text-align: center;
   }

* {
    box-sizing: border-box;
}

/* Create two columns next to each other */
.column {
    float: left;
    padding: 150px;
    height: 300px; 
}

/* Space for the left columns */
.left {
  width: 25%;
}

/* Space for the right columns */
.right {
  width: 75%;
}

/* Space after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
	
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.container {
    padding: 2px 16px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
